<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf8">
        <title>>Activision-Blizzard($ATVI)</title>
        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <!-- CSS Reset -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
        <!-- Milligram CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
        <!-- Semantics CSS -->
        <link rel="stylesheet" type="text/css" href="/static/semantics.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="/stock_project/index.html"> Home </a>       <a href="predict.html"> Predict </a>      <a href="about.html"> About </a>
            </nav>
        </header>
        <main>
            <header>
                Hi Sean
            </header>
        </main>
    </body>
</html>
